<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/library.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/head.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/frame.css}"/>
    <title>Редактирование читателя</title>
</head>
<body>
<div class="frame">
    <form th:method="PATCH" th:action="@{/library/people/{id}(id=${person.getId()})}" th:object="${person}">
        <label for="name">Введите ФИО полностью:</label>
        <input type="text" th:field="*{name}" id="name">
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br/>
        <label for="year">Введите год рождения:</label>
        <input type="text" th:field="*{year}" id="year">
        <div class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
        <br/>
        <input type="submit" class="button" value="Редактировать">
    </form>
    <hr/>
    <div class="btn-group">
        <div class="button">
            <a th:href="@{/library/people}">Все читатели</a>
        </div>
        <div class="button">
            <a th:href="@{/library/books}">Все книги</a>
        </div>
        <div class="button">
            <a th:href="@{/library}">На главную</a>
        </div>
    </div>
</div>
</body>
</html>