<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/library.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/books.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/frame.css}"/>
    <title>Новый читатель</title>
</head>
<body>
<div class="frame">
    <form th:method="POST" th:action="@{/books}" th:object="${book}">
        <label for="title">Введите название книги:</label>
        <input type="text" th:field="*{title}" id="title">
        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
        <br/>
        <label for="author">Введите имя и фамилию автора:</label>
        <input type="text" th:field="*{author}" id="author">
        <div class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
        <br/>
        <label for="year">Введите год издания:</label>
        <input type="text" th:field="*{year}" id="year">
        <div class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
        <br/>
        <input type="submit" class="button" value="Добавить книгу">
    </form>
    <hr/>
    <div class="btn-group">
        <div class="button">
            <a th:href="@{/people}">Все читатели</a>
        </div>
        <div class="button">
            <a th:href="@{/books}">Все книги</a>
        </div>
        <div class="button">
            <a th:href="@{/}">На главную</a>
        </div>
    </div>
</div>
</body>
</html>