body {
    background: url(../image/head.jpg) no-repeat;
    background-size: 100%;
}

.main {
    justify-content: flex-start;
    align-items: flex-start;
}

.list {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 450px;
}
