<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="f" th:method="post" th:action="/process_login">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Login">
    <div th:if="${param.error}" style="color: red">
        Неправильные имя и/или пароль
    </div>
</form>

</body>
</html>